{% extends 'baselist.html' %}
{% load filter %}
{% load static %}

{% block insertButton %}
    <a href="{% url 'core_artwork_insert' %}" class="btn btn-success">Add {{class|get_class_name}}</a>
{% endblock %}

{% block list %}

     <div class="col">
         <table class="table table-striped">
             <thead class="bgheadlist">
               <tr>
                 <th scope="col">Image</th>
                 <th scope="col">Title</th>
               </tr>
             </thead>
             <tbody>
             {% for artwork in artworks %}
               <tr>
                 <td width="100px">
                     <a href="{% url 'core_artwork_update' artwork.id %}">
                        {% if artwork.Image %}
                            <img src="{{artwork.Image.url}}" width="80px"/>
                        {% else %}
                            <img src="{% static 'img/no_img.png' %}" width="80px"/>
                        {% endif %}
                     </a>
                 </td>
                 <td>
                     <h6><a href="{% url 'core_artwork_update' artwork.id %}">{{artwork}}</a></h6>
                     <div style="font-size: 12px">
                        {% if artwork.Country.Flag %}
                            <img src="{{artwork.Country.Flag.url}}" width="30"/>
                        {% else %}
                            {% if artwork.Country %}
                                {{artwork.Country}},
                            {% endif %}
                        {% endif %}
                        <span style="padding-left: 5px">
                            {% if artwork.OriginalTitle %}
                                {{artwork.OriginalTitle}}
                            {% endif %}
                            {% if artwork.ReleaseYear %}
                                ({{artwork.ReleaseYear}})
                            {% endif %}
                        </span><BR>
                        {% if artwork.RunTime %}
                           {{artwork.RunTime}} min.<BR>
                        {% endif %}
                        {% if artwork.Genres %}
                           {{artwork.listGenres}}<BR>
                        {% endif %}
                     </div>
                 </td>
               </tr>
               {% endfor%}
             </tbody>
         </table>

    </div>

{% endblock %}