{% extends 'baselist.html' %}

{% block insertButton %}
    <a href="{% url 'core_country_insert' %}" class="btn btn-success">Add {{className}}</a>
{% endblock %}

{% block list %}

     <div class="col">
         <table class="table">
             <thead class="table-light">
               <tr>
                 <th scope="col">Country name</th>
                 <th scope="col">Flag</th>
               </tr>
             </thead>
             <tbody>
             {% for country in countries %}
               <tr>
                 <td width="300px"><a href="{% url 'core_country_update' country.id %}">{{country.NameEN}}</a></td>
                 <td>
                    {% if country.Flag %}
                         <a href="{% url 'core_country_update' country.id %}">
                            <img src="{{country.Flag.url}}" width="50"/>
                         </a>
                    {% endif %}
                 </td>
               </tr>
               {% endfor%}
             </tbody>
         </table>

    </div>

{% endblock %}