{% extends 'baselist.html' %}

{% block insertButton %}
    <a href="{% url 'core_country_insert' %}" class="btn btn-success">Add {{className}}</a>
{% endblock %}

{% block list %}

     <div class="col">
         <table class="table">
             <thead class="table-light">
               <tr>
                 <th scope="col">Country name</th>
               </tr>
             </thead>
             <tbody>
             {% for country in countries %}
               <tr>
                 <td><a href="{% url 'core_country_update' country.id %}">{{country.NameEN}}</a></td>
               </tr>
               {% endfor%}
             </tbody>
         </table>

    </div>

{% endblock %}