{% extends 'logged.html' %}
{% load static %}
{% block main %}

<div style="display: flex; justify-content: center">
    <div style="text-align: center; width: 300px; margin-top: 30px; padding: 10px;
         border: 1px; border-style: none">
        <img src="{% static 'img/fail.png' %}" width="170px" class="center" style="padding-top: 50px; padding-bottom: 20px">
        <p style="display: flex; justify-content: center; font-size: 22px; font-weight: bold; padding-bottom: 10px">
            {{errormessage}}
        </p>
        <a class="btn btn-warning" href="javascript:history.go(-1)">Voltar</a>
    </div>
</div>

{% endblock %}
