{% extends 'logged.html' %}
{% load static %}
{% block main %}


    <div class="row">
        <h2 style="text-align: center">Welcome to <i>CINEMATHEQUE Administrative Tools</i>, {{userProfile|title}}!</h2>
    </div>

        <img src="{% static 'img/movie-film-popcorn.png' %}" width="170 px" class="center">


    <div class="row" style="padding-bottom: 50px">
        <p class="text" style="font-size:12px; text-align: center">
            You can browse and modify any information.<BR>
            These tools and database were created for a demonstration.<BR>
            Any modifications made will be overwritten in a few days.<BR>
            So enjoy the experience!<BR>
            Browse, insert, update, delete any data.<BR>
            Have a good time!
        </p>
    </div>

<div class="row" style="justify-content: center;">

  <div style="width: 50rem;  display: flex; justify-content: space-around; flex-wrap: wrap">

    <a href="{% url 'core_artwork_update' latestartwork.id %}" class="cardhome">
        <div class="card mb-3 text-bg-light" style="background-color: #ffffff !important; width: 300px">
          <div class="row g-0 flex-nowrap">
            <table>
                <tr>
                    <td style="100px">
                          {% if latestartwork.Image %}
                              <img src="{{latestartwork.Image.url}}" class="card-img-top" alt="Latest movie" style="width: 100px"/>
                          {% else %}
                              <img src="{% static 'img/no_img.png' %}" class="card-img-top" alt="Latest movie" style="width: 100px"/>
                          {% endif %}
                    </td>
                    <td style="200px">
                      <div class="card-body">
                          <span class="card-text">Last updated artwork:</span>
                          <h5 class="card-title">{{latestartwork}}</h5>
                          {% if latestartwork.Country.Flag %}
                            <img src="{{latestartwork.Country.Flag.url}}" width="30"/>
                          {% endif %}
                         <p class="card-text"><small class="text-muted">Update: <BR>
                             <i>{{latestartwork.DateTimeOfLastUpdate|date:"M d Y"}}</i></small></p>
                      </div>
                    </td>

                </tr>
            </table>
          </div>
        </div>
    </a>

    <a href="{% url 'core_person_update' latestperson.id %}" class="cardhome">
        <div class="card mb-3 text-bg-light" style="background-color: #ffffff !important; width: 300px">
          <div class="row g-0 flex-nowrap">
            <table>
                <tr>
                    <td style="100px">
                          {% if latestperson.Photo %}
                              <img src="{{latestperson.Photo.url}}" class="card-img-top" alt="Latest movie" style="width: 100px"/>
                          {% else %}
                              <img src="{% static 'img/no_img.png' %}" class="card-img-top" alt="Latest movie" style="width: 100px"/>
                          {% endif %}
                    </td>
                    <td style="200px">
                      <div class="card-body">
                          <span class="card-text">Last updated person:</span>
                          <h5 class="card-title">{{latestperson}}</h5>
                          {% if latestperson.CountryOfBirth.Flag %}
                            <img src="{{latestperson.CountryOfBirth.Flag.url}}" width="30"/>
                          {% endif %}
                         <p class="card-text"><small class="text-muted">Update: <BR>
                             <i>{{latestperson.DateTimeOfLastUpdate|date:"M d Y"}}</i></small></p>
                      </div>
                    </td>

                </tr>
            </table>
          </div>
        </div>
    </a>

  </div>

</div>

{% endblock %}
