{% extends "baseindex.html" %}
{% load static %}

{% block artindex %}

    <div class="row" style="padding-bottom: 30p;">
        <img src="{% static 'img/artindex.png' %}" style="padding-left: 0; padding-right: 0">
    </div>

{% endblock %}

{% block contents %}

    <div class="s004">
      <form action="{% url 'core_search' %}" method="GET" enctype="multipart/form-data">
        <fieldset>
          <div style="text-align: center; font-size: 16px; color: #000000">
              Search below to find artworks and people by title, name, country,  genre or year!
          </div>
          <div class="inner-form">
            <div class="input-field">
                <div class="choices" data-type="text" aria-haspopup="true" aria-expanded="false" dir="ltr">
                    <div class="choices__inner" style="background-color: #eeeeee">
                        <input name="texttoSearch" type="text" class="choices__input choices__input--cloned" autocomplete="off" autocapitalize="off" spellcheck="false" role="textbox"
                               aria-autocomplete="list" placeholder="Type to search..." style="width: 100%" maxlength="100">
                    </div>
                </div>

              <button class="btn-lupa btn-search" type="submit">
                <svg class="xbtn-lupa" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path class="btn-lupa" d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"></path>
                </svg>
              </button>

            </div>
        </fieldset>
      </form>
    </div>


    <div style="padding-top: 20px">
        <div style="text-align: center; font-size: 16px; color: #000000">
            Or click below to access the <b>CINEMATHEQUE Administrative Tools</b>!
        </div>
        <a class="btn btn-info center" style="max-width: 300px" href="{% url 'core_home' %}">
            Click here to access the environment
        </a>
    </div>


    <div class="row" style="justify-content: center; padding-top: 60px">

      <div style="width: 50rem;  display: flex; justify-content: space-around; flex-wrap: wrap">

        <a href="{% url 'core_artwork_data' latestartwork.id %}" class="cardhome">
            <div class="card mb-3 text-bg-light" style="background-color: #ffffff !important; width: 300px">
              <div class="row g-0 flex-nowrap">
                <table>
                    <tr>
                        <td style="100px">
                              {% if latestartwork.Image %}
                                  <img src="{{latestartwork.Image.url}}" class="card-img-top" alt="Latest movie" style="width: 100px"/>
                              {% else %}
                                  <img src="{% static 'img/no_img.png' %}" class="card-img-top" alt="Latest movie" style="width: 100px"/>
                              {% endif %}
                        </td>
                        <td style="200px">
                          <div class="card-body">
                              <span class="card-text">Last updated artwork:</span>
                              <h5 class="card-title">{{latestartwork}}</h5>
                              {% if latestartwork.Country.Flag %}
                                <img src="{{latestartwork.Country.Flag.url}}" width="30"/>
                              {% endif %}
                             <p class="card-text"><small class="text-muted">Update: <BR>
                                 <i>{{latestartwork.DateTimeOfLastUpdate|date:"M d Y"}}</i></small></p>
                          </div>
                        </td>

                    </tr>
                </table>
              </div>
            </div>
        </a>

        <a href="{% url 'core_person_data' latestperson.id %}" class="cardhome">
            <div class="card mb-3 text-bg-light" style="background-color: #ffffff !important; width: 300px">
              <div class="row g-0 flex-nowrap">
                <table>
                    <tr>
                        <td style="100px">
                              {% if latestperson.Photo %}
                                  <img src="{{latestperson.Photo.url}}" class="card-img-top" alt="Latest movie" style="width: 100px"/>
                              {% else %}
                                  <img src="{% static 'img/no_img.png' %}" class="card-img-top" alt="Latest movie" style="width: 100px"/>
                              {% endif %}
                        </td>
                        <td style="200px">
                          <div class="card-body">
                              <span class="card-text">Last updated person:</span>
                              <h5 class="card-title">{{latestperson}}</h5>
                              {% if latestperson.CountryOfBirth.Flag %}
                                <img src="{{latestperson.CountryOfBirth.Flag.url}}" width="30"/>
                              {% endif %}
                             <p class="card-text"><small class="text-muted">Update: <BR>
                                 <i>{{latestperson.DateTimeOfLastUpdate|date:"M d Y"}}</i></small></p>
                          </div>
                        </td>

                    </tr>
                </table>
              </div>
            </div>
        </a>

      </div>

    </div>

{% endblock %}