{% extends 'baselist.html' %}
{% load filter %}

{% block insertButton %}
    <a href="{% url 'core_language_insert' %}" class="btn btn-success">Add {{class|get_class_name}}</a>
{% endblock %}

{% block list %}

     <div class="col">
         <table class="table table-striped">
             <thead class="bgheadlist">
               <tr class="bgheadlist">
                 <th scope="col">Language name</th>
               </tr>
             </thead>
             <tbody>
             {% for language in languages %}
               <tr>
                 <td><a href="{% url 'core_language_update' language.id %}">{{language.NameEN}}</a></td>
               </tr>
               {% endfor%}
             </tbody>
         </table>

    </div>

{% endblock %}