{% extends 'baselist.html' %}
{% load filter %}
{% load static %}

{% block insertButton %}
    <a href="{% url 'core_person_insert' %}" class="btn btn-success">Add {{class|get_class_name}}</a>
{% endblock %}

{% block list %}

     <div class="col">
         <table class="table table-striped">
             <thead class="bgheadlist">
               <tr>
                 <th scope="col">Photo</th>
                 <th scope="col">Name</th>
               </tr>
             </thead>
             <tbody>
             {% for person in persons %}
               <tr>
                 <td width="100px">
                    <a href="{% url 'core_person_update' person.id %}">
                        {% if person.Photo %}
                            <img src="{{person.Photo.url}}" width="80px"/>
                        {% else %}
                            <img src="{% static 'img/no_img.png' %}" width="80px"/>
                        {% endif %}
                    </a>
                 </td>
                 <td>
                     <h6><a href="{% url 'core_person_update' person.id %}">{{person.Name}}</a></h6>
                     <div style="font-size: 12px">
                         {% if person.DateOfBirth %}
                            DateOfBirth: {{person.DateOfBirth}}<br>
                         {% endif %}
                         {% if person.DateOfDeath %}
                            DateOfDeath: {{person.DateOfDeath}}<br>
                         {% endif %}
                         {% if person.CountryOfBirth.Flag %}
                            <img src="{{person.CountryOfBirth.Flag.url}}" width="30"/>
                        {% else %}
                            {% if person.CountryOfBirth %}
                                CountryOfBirth: {{person.CountryOfBirth}}
                            {% endif %}
                        {% endif %}
                     </div>
                 </td>
               </tr>
               {% endfor%}
             </tbody>
         </table>

    </div>

{% endblock %}