{% extends 'baseupdate.html' %}
{% load bootstrap %}
{% load static %}

{% block form %}

<form id="frmData" action="{% url 'core_person_update' object.id %}" method="POST"  enctype="multipart/form-data">

    <div class="row row-cols-1">
        <div class="col-sm-7" style="padding-bottom: 8px">
              {%  csrf_token %}
              {{form|bootstrap}}
              {{formset.management_form}}
        </div>

        <div class="col-sm-5">
            Photo image<BR>
            {% if object.Photo %}
                <img src="{{object.Photo.url}}" width="300"/>
            {% else %}
                <img src="{% static 'img/no_img.png' %}" width="300"/>
            {% endif %}
        </div>
    </div>

    <div class="row row-cols-1">
        <h4 style="padding-top: 30px">Artworks:</h4>
        <div id="membership" class="form-inline form-group">
            <table class="table table-striped">

                <tr style="font-weight: bold">
                    <td scope="col">Artwork</td>
                    <td scope="col">Role</td>
                    <td scope="col">Delete?</td>
                </tr>

                {% for item_form in formset %}
                <tr>
                    <td>
                        {{ item_form.Artwork.errors }}
                        {{ item_form.Artwork }}
                    </td>
                    <td>
                        {{ item_form.Role.errors }}
                        {{ item_form.Role }}
                    </td>
                    <td>
                        {{ item_form.DELETE }} {{item_form.id}}
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
    </div>

</form>
{% endblock %}

{% block deleteButton %}
    <a href="{% url 'core_person_delete' object.id %}" class="btn btn-danger">Delete</a>
{% endblock %}