{% extends "baseindex.html" %}
{% load static %}
{% block contents %}

    <h1>Search results for <i>"{{ strtosearch }}"</i>:</h1>

    {% if pageart_obj %}
        <h4 style="padding-top: 20px">Artworks</h4>
        <div class="col">
             <table class="table table-striped">
                 <thead class="bgheadlist">
                   <tr>
                     <th scope="col">Image</th>
                     <th scope="col">Title</th>
                   </tr>
                 </thead>
                 <tbody>
                 {% for artwork in pageart_obj %}
                   <tr>
                     <td width="100px">
                         <a href="{% url 'core_artwork_data' artwork.id %}">
                            {% if artwork.Image %}
                                <img src="{{artwork.Image.url}}" width="60px"/>
                            {% else %}
                                <img src="{% static 'img/no_img.png' %}" width="60px"/>
                            {% endif %}
                         </a>
                     </td>
                     <td>
                         <h6><a href="{% url 'core_artwork_data' artwork.id %}">{{artwork}}</a></h6>
                         <div style="font-size: 12px">
                            <span>
                            {% if artwork.OriginalTitle %}
                                {{artwork.OriginalTitle}}
                            {% endif %}
                            </span><BR>
                            {% if artwork.Country.Flag %}
                                <img src="{{artwork.Country.Flag.url}}" width="30"/>
                            {% else %}
                                {% if artwork.Country %}
                                    {{artwork.Country}},
                                {% endif %}
                            {% endif %}
                            <span style="padding-left: 5px">
                                {% if artwork.ReleaseYear %}
                                    ({{artwork.ReleaseYear}})
                                {% endif %}
                            </span>
                            {% if artwork.RunTime %}
                               {{artwork.RunTime}} min.<BR>
                            {% endif %}
                            {% if artwork.Genres %}
                               {{artwork.listGenres}}<BR>
                            {% endif %}
                         </div>
                     </td>
                   </tr>
                   {% endfor %}
                 </tbody>
             </table>

        </div>

        <div class="row" style="text-align: center">
            <div class="col-2">
                {% if pageart_obj.has_previous %}
                    <a href="?texttoSearch={{ strtosearch }}&pagart=1"><i class="fa fa-fast-backward" aria-hidden="true"></i></a>
                {% endif %}
            </div>
            <div class="col-2">
                {% if pageart_obj.has_previous %}
                    <a href="?texttoSearch={{ strtosearch }}&pagart={{ pageart_obj.previous_page_number }}"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                {% endif %}
            </div>
            <div class="col-4" style="font-size: 12px">
                Page of Artworks {{ pageart_obj.number }} of {{ pageart_obj.paginator.num_pages }}
            </div>
            <div class="col-2">
                {% if pageart_obj.has_next %}
                    <a href="?texttoSearch={{ strtosearch }}&pagart={{ pageart_obj.next_page_number }}"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                {% endif %}
            </div>
            <div class="col-2">
                {% if pageart_obj.has_next %}
                    <a href="?texttoSearch={{ strtosearch }}&pagart={{ pageart_obj.paginator.num_pages }}"><i class="fa fa-fast-forward" aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>

        <BR>

    {% endif %}


    {% if pageper_obj %}
        <h4  style="padding-top: 20px">Persons</h4>
        <div class="col">
         <table class="table table-striped">
             <thead class="bgheadlist">
               <tr>
                 <th scope="col">Photo</th>
                 <th scope="col">Name</th>
               </tr>
             </thead>
             <tbody>
             {% for person in pageper_obj %}
               <tr>
                 <td width="100px">
                    <a href="{% url 'core_person_data' person.id %}">
                        {% if person.Photo %}
                            <img src="{{person.Photo.url}}" width="60px"/>
                        {% else %}
                            <img src="{% static 'img/no_img.png' %}" width="60px"/>
                        {% endif %}
                    </a>
                 </td>
                 <td>
                     <h6><a href="{% url 'core_person_data' person.id %}">{{person.Name}}</a></h6>
                     <div style="font-size: 12px">
                         {% if person.DateOfBirth %}
                            Birth: {{person.DateOfBirth}}<br>
                         {% endif %}
                         {% if person.DateOfDeath %}
                            Death: {{person.DateOfDeath}}<br>
                         {% endif %}
                         {% if person.CountryOfBirth.Flag %}
                            <img src="{{person.CountryOfBirth.Flag.url}}" width="30"/>
                        {% else %}
                            {% if person.CountryOfBirth %}
                                Country of birth: {{person.CountryOfBirth}}
                            {% endif %}
                        {% endif %}
                     </div>
                 </td>
               </tr>
               {% endfor%}
             </tbody>
         </table>
        </div>

        <div class="row" style="text-align: center">
            <div class="col-2">
                {% if pageper_obj.has_previous %}
                    <a href="?texttoSearch={{ strtosearch }}&pagper=1"><i class="fa fa-fast-backward" aria-hidden="true"></i></a>
                {% endif %}
            </div>
            <div class="col-2">
                {% if pageper_obj.has_previous %}
                    <a href="?texttoSearch={{ strtosearch }}&pagper={{ pageper_obj.previous_page_number }}"><i class="fa fa-step-backward" aria-hidden="true"></i></a>
                {% endif %}
            </div>
            <div class="col-4" style="font-size: 12px">
                Page of Persons {{ pageper_obj.number }} of {{ pageper_obj.paginator.num_pages }}
            </div>
            <div class="col-2">
                {% if pageper_obj.has_next %}
                    <a href="?texttoSearch={{ strtosearch }}&pagper={{ pageper_obj.next_page_number }}"><i class="fa fa-step-forward" aria-hidden="true"></i></a>
                {% endif %}
            </div>
            <div class="col-2">
                {% if pageper_obj.has_next %}
                    <a href="?texttoSearch={{ strtosearch }}&pagper={{ pageper_obj.paginator.num_pages }}"><i class="fa fa-fast-forward" aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>

        <BR>
    {% endif %}

    {% if not pageart_obj and not pageper_obj %}
        Sorry, no results found for  <i>"{{ strtosearch }}"</i>.
    {% endif %}

{% endblock %}