{% extends 'base.html' %}
{% load static %}

{% block contents %}

<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasWithBothOptions" aria-controls="offcanvasDarkNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="{% url 'core_home' %}">
      <img src="{% static 'img/logoCinematheque.png' %}" width="170px">
    </a>
  </div>
</nav>

<div class="offcanvas offcanvas-start text-bg-dark" data-bs-scroll="true" tabindex="-1"
     id="offcanvasWithBothOptions" aria-labelledby="offcanvasWithBothOptionsLabel" style="width: 250px">

  <div class="offcanvas-header" style="padding-bottom: 5px;">
    <div style="width: 70%">
      <img src="{% static 'img/userthumb.png' %}" style="height: 40px; float: left; padding-right: 10px;">
      <h6 style="line-height:40px;">{{userName}}</h6>
    </div>
    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>

  <div class="offcanvas-body" style="padding-top: 0;">

    <nav class="navbar bg-dark navbar-dark">

      <ul class="navbar-nav navbar-custom container-fluid" >
        <li class="nav-item navbar-custom nav-item-local container-fluid" >
          <a class="nav-link" href="{% url 'core_home' %}">Home</a>
        </li>
        <li class="nav-item navbar-custom nav-item-local container-fluid">
          <a class="nav-link" href="{% url 'core_genre_list' %}">Genres</a>
        </li>
        <li class="nav-item navbar-custom nav-item-local container-fluid">
          <a class="nav-link" href="{% url 'core_country_list' %}">Countries</a>
        </li>
        <li class="nav-item navbar-custom nav-item-local container-fluid">
          <a class="nav-link" href="{% url 'core_role_list' %}">Roles</a>
        </li>
        <li class="nav-item navbar-custom nav-item-local container-fluid">
          <a class="nav-link" href="{% url 'core_distributor_list' %}">Distributors</a>
        </li>
      </ul>

    </nav>

  </div>


</div>

    <div style="margin-top: 10px">

      {% block main %}

      {% endblock %}

    </div>

{% endblock %}

